extends ../layout

block content
  .arche
    header
      h1= trip.name
      p= trip.description

    .articles
      article.article.admin(data-show='new')
        .controls.dialog.new
          .button.add.journey(data-action-show='journey')
            .icon.fa.fa-plus
            | Add Journey
          .button.add.destination(data-action-show='destination')
            .icon.fa.fa-plus
            | Add Destination
        form.dialog.journey
          h2 New Journey

          label(for="from") From
          .from.inputStyle.hasLocalization
            input(id="from")
            .localizeMe
              | localize
              .pixel.icon.localize

          label(for="to") To
          .to.inputStyle.hasLocalization
            input(id="to")
            .localizeMe 
              | localize
              .pixel.icon.localize

          label(for="transport") Transport
          .select.inputStyle
            transports = ["car", "bus", "bike", "train", "foot", "plane", "ship"]
            .transport.pixel.icon.car(data-classes=transports)
            select(id="transport")
              each transport in transports
                option(value="#{transport}")= transport
            .arrow ◀︎

          label(for="story") Story
          textarea(id="story")

          .uploadGallery
            each section in trip.sections
              if false && section.gallery
                each image in section.gallery
                  figure
                    .ratioHolder
                      .imageHolder
                        .delete
                          .icon.fa.fa-trash-o
                        .image(style="background-image: url(#{image.url})")
                    figcaption
                      input.inputStyle(placeholder="+ Add Caption", name="caption")

          label.button.addImages(for="images")
            span.icon.fa.fa-plus
            | Images
          input(id="images", type="file", multiple, accept="image/*")

          .button.publish.callToAction
            .icon.fa.fa-check
            | Publish
        form.dialog.destination
          h2 New Destination

          label(for="destination") Destination
          .from.inputStyle.hasLocalization
            input(id="destination")
            .localizeMe
              | localize
              .pixel.icon.localize

          label(for="story") Story
          textarea(id="story")

          .uploadGallery

          label.button.addImages(for="images")
            span.icon.fa.fa-plus
            | Images
          input(id="images", type="file", multiple, accept="image/*")

          .button.publish.callToAction
            .icon.fa.fa-check
            | Publish
      each section in trip.sections
        article(class="article #{section.type}")
          case section.type
            when 'destination'
              h2= section.location.name
            when 'journey'
              h2 From #{section.from.name} to #{section.to.name}
              .meta
                span.transport By #{section.transport}
          p= section.story
          if section.gallery
            .gallery
              each image in section.gallery
                figure
                  img(src="#{image.url}")
                  if image.caption
                    figcaption= image.caption
    .mapHolder
      #map

    script.
      var trip = !{JSON.stringify(trip)};
    script(src='/js/leaflet.js')
    script(src='/js/map.js')
    script(src='/js/trip.js')